
services:
  db:
    image: postgres:15
    ports:
      - "5432:5432"
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
  api:
    build: .
    volumes:
      - ./app:/app/app        # твой основной код
      - ./alembic:/app/alembic  # монтируем alembic
      - ./alembic.ini:/app/alembic.ini  # монтируем ini
    depends_on:
      - db
    ports:
      - "8000:8000"
    env_file:
      - .env